<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "MishkaCMS"%>
    <%= seo_tags(assigns[:seo_tags]) %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/css/font.css")}/>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/css/bootstrap-icons.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/js/bootstrap.min.js")}></script>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/js/main.min.js")}></script>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <%= if MishkaInstaller.Helper.Setting.get("google_captcha")["status"] == "production" do %>
      <%= if !is_nil(client = MishkaInstaller.Helper.Setting.get("google_captcha")["client"]) do %>
        <script defer phx-track-static type="text/javascript" src={"https://www.google.com/recaptcha/api.js?render=" <> client}></script>
      <% end %>
    <% end %>
  </head>
  <body id="liveBody">
    <%= @inner_content %>
  </body>
</html>
